/*
	===========================================
	Component: Watermelon Cake Games
	Sub-component: Site CSS
	Purpose: Main CSS For Site.

	Initial author: Alex King
	Started: 2015-11-29 [yyyy-mm-dd]
  Updated: 2016-01-04 [yyyy-mm-dd]
	===========================================
*/

/* Clean Code Up Soon!! */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'League Gothic', sans-serif !important;
  width: 100%;
  height: 100%;
}

.NavFix {
  background-color: transparent !important;
  font-size: 20px !important;
  padding-top: 0.5% !important;
  font-weight: 500;
}

.AboutUs {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
}

.text-center {
    text-align: center;
}

.TextFix {
  font-weight: 500;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.HeaderTitle {
    font-size: 1000%;
    text-transform: uppercase;
}

.HeaderTag {
  margin-top: -2%;
  font-size: 300%;
}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(-35deg, rgba(74, 59, 68, 1), rgba(114, 74, 68, 1));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.Line {
  border-top: 5px solid #eee !important;
}

.LogoShape {
  border-radius: 50%;
}

.DarkText {
  color: rgba(33, 33, 38, 1);
}

.Footer {
  height: 6%;
  width: 100%;
  background-color: rgba(33, 33, 38, 1);
  display: inline-block;
}

.MoreText {
  color: white;
  font-size: 300%;
  margin-top: 3%;
}

.RedText {
  color: rgba(166, 66, 66, 1);
}

.Creator {
  position: relative;
  padding-left: 0.5%;
  padding-top: 1.9%;
  font-size: 13px;
  display: inline-block;
}

.FooterText {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  font-size: 14px;
}

.MoreBox {
  width: 30%;
  height: 7%;
  box-shadow: 0 0 0 10px #fff;
  display: table;
  text-align: center;
  margin: 3% auto;
}

.HeaderLogo {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15%;
}

.LogoIMG {
	margin: auto;
  display: table-cell;
  position: relative;
	border-radius: 50%;
	border: 5px solid #FFFFFF;
	min-width: 125px;
	min-height: 125px;
}

.CenterHeader {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.CenterHeader h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.container-freedom {
  display: table;
  height: 100%;
  position: relative;
}

.about {
  padding: 50px 0;
  background: white;
}

a {
  color: #fff;
  text-decoration: none;
}

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
	position: relative;
}

.img-portfolio {
    margin: 0 auto;
}

a {
    text-decoration: none !important;
}
